/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(41, 38, 38, 0.8);
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    margin-top: 20px;
}

/* Centering the logo and links */ 
.logo {
    font-size: 1.5em;
    font-weight: 600;
    color: white;
}

/* Ensure the logo link has no underline and inherits logo styles */
.logo-link {
    color: inherit;
    text-decoration: none;
}

.logo-link:hover {
    color: inherit;
}

/* Navigation links styles */
.nav-links {
    display: flex;
    gap: 15px;
    list-style: none;
    align-items: center;
}

.nav-links a {
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
    cursor: pointer;
    font-size: 1em;
    padding: 8px 12px;
    transition: all 0.3s ease;
    border-radius: 5px;
    text-decoration: none;
}

.nav-links a:hover {
    background-color: rgba(116, 209, 243, 0.685);
    color: black;
}

.right-icon {
    /* Optional additional styles for other icons */
}

/* Call button specific styles */
.call-button {
    background-color: red;
    padding: 8px 15px;
    border-radius: 20px;
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.call-button:hover {
    background-color: white;
    color: black;
}

/* Mirrored and spaced icon for call button */
.call-button .right-icon {
    transform: scaleX(-1); /* Mirrors the icon */
    margin-left: 8px; /* Adds space between text and icon */
}

/* Responsive Navbar */
@media only screen and (max-width: 1024px) {
    .navbar {
        width: 85%;
    }
}

@media only screen and (max-width: 768px) {
    .navbar {
        width: 90%;
    }

    /* Adjust for small screens */
    .nav-links {
        gap: 10px;
    }

    .logo {
        font-size: 1.3em;
    }
}
